<% layout('layout') -%>
<% puppies.forEach(function(puppy) { %>
	<p><strong>Name:</strong> <%= puppy.name %> <strong>Age:</strong> <%= puppy.age %></p>
	<p><a href="/puppies/<%= puppy.id %>"><img src="<%= puppy.img %>" width="200px"></a></p>
<% }); %>
<p><a href="/puppies/new"><button class="btn btn-success">Add puppy</button></a></p>