<% layout('layout') -%>
<form action="/puppies" method="POST">
	<p><input type="text" name="name" placeholder="Name.."></p>
	<p><input type="text" name="age" placeholder="Age.."></p>
	<p><input type="text" name="img" placeholder="Image.."></p>

	<button type="submit" class="btn btn-success">Add Puppy</button>
</form>