<p><strong>Name:</strong> <%= puppy.name %> <strong>Age:</strong> <%= puppy.age %></p>
<img src="<%= puppy.img %>" width="300px">

<p><a href="/puppies"><button class="btn btn-success">View all puppies</button></a></p>
